<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mantis/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/mantis/assets/fonts/tabler-icons.min.css">
    <link rel="stylesheet" href="/mantis/assets/fonts/feather.css">
    <link rel="stylesheet" href="/mantis/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="/mantis/assets/fonts/material.css">
    <link rel="stylesheet" href="/mantis/assets/css/style.css">
    <link rel="stylesheet" href="/mantis/assets/css/style-preset.css">
</head>
</html>